#Create .env file in the same folder. The env file information should be the following order

OPENAI_API_TYPE = "azure"
OPENAI_API_BASE= "End_point https://<Resource_name>.penai.azure.com/"
OPENAI_API_VERSION = "2023-01-01"
OPENAI_API_KEY = "<key>"

